  body{
    background-color: #fff;
  }
  .table-wrap {
    overflow-x: scroll; }
  
  .table {
    min-width: 1000px !important;
    width: 100%;
    -webkit-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
    box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29); }
   
    .table thead th {
      border: none;
      padding: 30px;
      font-size: 20px;
      font-weight: 500;
      color: gray; }

    .table thead tr {
      background: #fff;
      border-bottom: 4px solid #eceffa; }
      
    .table tbody tr {
      margin-bottom: 10px;
      border-bottom: 4px solid #eceffa;}

      .table tbody tr:last-child {
        border-bottom: 0; }

    .table tbody th, .table tbody td {
      border: none;
      padding: 30px;
      font-size: 15px;
      background: #fff;
      vertical-align: middle; }

    .table tbody td.status span {
      position: relative;
      border-radius: 30px;
      padding: 4px 10px 4px 25px; }
      
      .table tbody td.status span:after {
        position: absolute;
        top: 9px;
        left: 10px;
        width: 10px;
        height: 10px;
        content: '';
        border-radius: 50%; }
        
    .table tbody td.status .active {
      background: #cff6dd;
      color: #1fa750; }

      .table tbody td.status .active:after {
        background: #23bd5a; }

    .table tbody td.status .waiting {
      background: #fde7dd;
      color: #cf200c; }
      
      .table tbody td.status .waiting:after {
        background: #f21d1d; }

   
    .table tbody td .email span {
      display: block; 
    }
    
    table tbody td .email span:first-child {
      font-size: 20px;
      font-weight: bold;
      color: rgb(68, 126, 185); 
    }

      .table tbody td .email span:last-child {
        font-size: 15px;
        color: rgb(0, 0, 0);
    }

   
 
